.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.flex {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.flex-row-container {
  @extend .flex;
  flex-direction: row;
}

.flex-col-container {
  @extend .flex;
  flex-direction: column;
}

.flex-grow {
  flex: 1;
}

.flex-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.scroll-y {
  overflow: hidden;
  overflow-y: auto !important;
}

.border-bottom {
  border-bottom: 1px solid black;
}
