@import 'clothViewer';
@import 'layout';
@import 'shopping';

* {
  font-family: "Microsoft JhengHei";
}

html, body {
  @extend .full-height;
  overflow: hidden;
}

.text-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
