<div id="shopping" class="flex-col-container">
  <h1 class="border-bottom" translate="SHOPPING_TITLE"></h1>
  <ul id="shopping-list" class="list-group scroll-y">
    <div class="shopping-list-container"
      infinite-scroll="$ctrl.loadMore()"
      infinite-scroll-distance="0.2"
      infinite-scroll-container="'#shopping-list'">
      <li class="shopping-list-item" ng-repeat="cloth in $ctrl.clothes">
        <cloth-item cloth="cloth" ng-click="$ctrl.openClothViewerModal(cloth)"></cloth-item>
      </li>
    </div>
    <div class="flex-center" ng-if="$ctrl.isLoading">
      <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
    </div>
  </ul>
</div>
